# Cartesia (STT + TTS)
CARTESIA_API_KEY="ENTER YOUR KEY HERE!"

# OpenAI
OPENAI_API_KEY="ENTER YOUR KEY HERE!"

# LiveKit local dev server (default dev credentials)
LIVEKIT_URL=ws://localhost:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret

# langfuse
LANGFUSE_SECRET_KEY="ENTER YOUR KEY HERE!"
LANGFUSE_PUBLIC_KEY="ENTER YOUR KEY HERE!"
LANGFUSE_HOST=http://172.20.10.8:3000

# mlflow
OTEL_EXPORTER_OTLP_ENDPOINT=http://0.0.0.0:5000
OTEL_EXPORTER_OTLP_HEADERS=x-mlflow-experiment-id=0
OTEL_SERVICE_NAME=livekit-voice-agent